@media(max-width:999px) {
    nav {
        display: none;
    }

    .nav-item {
        /* width: 23%; */
        max-width: 100px;

    }

    .nav {
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
        z-index: 3;
    }

    .carousel-content-box {
        display: flex;
        gap: 50px;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .carousel-content-box img {
        max-width: 300px;
    }

    .carousel-content {
        display: none;
    }

    .tab-content {
        margin-top: 45px;
    }

    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: -116px;
    }
}

@media(max-width:768px) {
    .tab-content {
        margin-top: 45px;
    }

    .logo img {
        max-width: 90%;
    }

    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: -86px;
    }
}

@media(max-width:500px) {
    .tab-content {
        margin-top: 75px;
    }

    .logo img {
        max-width: 90%;
    }

    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: -118px;

    }

    .category-button {
        position: absolute;
        width: 100%;
        z-index: 2;
        /* top: 77%;
        left: 50%;
        transform: translate(-50%, 57%); */
        bottom: 53px;
    }

    .category-button a {
        display: block;
        width: 100%;
        background-color: #89392c;
        color: #fff;
        padding: 10px 10px;
        font-size: 18px;
        text-align: center;
    }

    .heading-section h2 {
        font-size: 7vw;


    }
}